@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --based-color: #ff793f;
    --input-bg-color: #3d3e40;
    --input-txt-color: #ced6e0;
    --builder-panel-bg-color: #18191a;
    --builder-result-bg-color: #242526;
}

body {
    background-color: var(--builder-result-bg-color);
}

/*BEGIN - INPUT STYLE*/

select,
input[type="text"],
input[type="number"] {
    background-color: var(--input-bg-color);
    font-family: "Poppins";
    font-size: 14px;
    border: none;
    border-radius: 5px;
    outline: none;
    caret-color: var(--based-color);
    color: var(--input-txt-color);
    transition: background-color 0.3s linear, caret-color 0.3s linear, color 0.3s linear;
}

input[type="text"]:hover,
input[type="number"]:hover,
input[type="text"]:focus,
input[type="number"]:focus {
    outline: 2px solid var(--based-color);
}

input[type="range"] {
    accent-color: var(--based-color);
    transition: accent-color 0.3s linear;
}

/* input[type="file"] {
    background-color: var(--input-bg-color);
    font-family: "Poppins";
    font-size: 14px;
    border-radius: 5px;
    color: var(--based-color);
    padding: 12px;
    transition: accent-color 0.3s linear;
} */

input[type="color"] {
    background-color: var(--input-bg-color);
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0px 10px;
    cursor: pointer;
    transition: background-color 0.3s linear;
}

/*ENDED - INPUT STYLE*/

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
    overflow: hidden;
}

label {
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-indent: 3px;
    user-select: none;
    color: var(--input-txt-color);
    transition: color 0.3s linear;
}

h1 {
    height: auto;
    width: 100%;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid var(--based-color);
    border-radius: 6px;
    user-select: none;
    color: var(--based-color);
    margin-bottom: 12px;
    transition: color 0.3s linear;
}

h2 {
    height: auto;
    width: 100%;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid var(--based-color);
    user-select: none;
    color: var(--based-color);
    margin: 12px 0px;
    transition: color 0.3s linear;
}

.vertical-separator{
    height: 48px;
    width: 2px;
    background-color: var(--based-color);
    transition: background-color 0.3s linear;
}

.builder-result {
    height: 100%;
    width: 100%;
    background-color: var(--builder-result-bg-color);
    transition: background-color 0.3s linear;
}

.builder-panel {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: auto;
    background-color: var(--builder-panel-bg-color);
    padding: 12px;
    visibility: visible;
    transition: right 0.3s linear, visibility 0.3s linear, background-color 0.3s linear;
}

.fa-pos-menu{
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--input-bg-color);
    border-radius: 50%;
    font-size: 22px;
    color: var(--builder-panel-bg-color);
    transition: color 0.3s linear;
    cursor: pointer;
}

.fa-pos-menu:hover{
    color: var(--input-txt-color);
}

.fa-pos-clr {
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 22px;
    color: var(--input-txt-color);
    opacity: 0.5;
    transition: opacity 0.3s linear;
    cursor: pointer;
}

.fa-pos-rand {
    position: absolute;
    top: 12px;
    left: 48px;
    font-size: 22px;
    color: var(--input-txt-color);
    opacity: 0.5;
    transition: opacity 0.3s linear;
    cursor: pointer;
}

.fa-pos-theme {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 22px;
    color: var(--input-txt-color);
    opacity: 0.5;
    transition: opacity 0.3s linear;
    cursor: pointer;
}

.fa-pos-clr:hover,
.fa-pos-rand:hover,
.fa-pos-theme:hover {
    opacity: 1;
}

.select-size-type{
    height: 30px !important;
    width: 64px !important;
    margin: 0px 6px !important;
    padding: 0px 6px !important;
}

.select-text-type{
    height: 30px !important;
    width: 120px !important;
    padding: 0px 6px !important;
}

.text-input-size{
    height: 30px !important;
    width: 110px !important;
	padding: 0px 15px !important;
}

.number-input-size{
    height: 30px !important;
    width: 80px !important;
    padding: 0px 5px 0px 15px !important;
}

.bp-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 6px;
}

.bp-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bp-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 16px;
}

.bp-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}