@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --based-color: #ff793f;
    --input-bg-color: #3d3e40;
    --input-txt-color: #d2dae2;
    --builder-panel-bg-color: #18191a;
    --builder-result-bg-color: #242526;
}

body {
    background-color: var(--builder-result-bg-color);
}

.light-mode {
    --based-color: #de6937;
    --input-bg-color: #cecece;
    --input-txt-color: #3a3c3c;
    --builder-panel-bg-color: #ffffff;
    --builder-result-bg-color: #e4e9f7;
}

select,
input[type="text"],
input[type="number"] {
    background-color: var(--input-bg-color);
    font-family: "Poppins";
    font-size: 14px;
    border: none;
    border-radius: 5px;
    outline: none;
    caret-color: var(--based-color);
    color: var(--input-txt-color);
    transition: background-color 0.3s linear, caret-color 0.3s linear, color 0.3s linear;
}

input[type="text"]:hover,
input[type="number"]:hover,
input[type="text"]:focus,
input[type="number"]:focus {
    outline: 2px solid var(--based-color);
}

input[type="range"] {
    accent-color: var(--based-color);
    transition: accent-color 0.3s linear;
}

input[type="file"] {
    background-color: var(--input-bg-color);
    font-family: "Poppins";
    font-size: 14px;
    width: 100%;
    border-radius: 5px;
    color: var(--based-color);
    padding: 12px;
    transition: background-color 0.3s linear, color 0.3s linear;
}

input[type="color"] {
    background-color: var(--input-bg-color);
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0px 10px;
    cursor: pointer;
    transition: background-color 0.3s linear;
}

button[type="button"] {
    position: relative;
    background-color: var(--based-color);
    font-family: "Poppins";
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    outline: none;
    color: var(--input-txt-color);
    user-select: none;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s linear, color 0.3s linear;
    z-index: 0;
}

button[type="button"]::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--based-color);
    border-radius: 5px;
    transform: scale(1);
    opacity: 1;
    z-index: -1;
}

button[type="button"]:hover::before {
    animation: pulseBtn 1s linear infinite;
}

@keyframes pulseBtn {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(1.2);
        opacity: 0;
    }
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
    overflow: hidden;
}

label {
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-indent: 3px;
    user-select: none;
    color: var(--input-txt-color);
    transition: color 0.3s linear;
}

h1 {
    height: auto;
    width: 100%;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid var(--based-color);
    border-radius: 6px;
    user-select: none;
    color: var(--based-color);
    margin-bottom: 12px;
    transition: color 0.3s linear;
}

h2 {
    height: auto;
    width: 100%;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid var(--based-color);
    user-select: none;
    color: var(--based-color);
    margin: 12px 0px;
    transition: color 0.3s linear;
}

p {
    font-family: "Poppins";
    font-size: 14px;
    color: var(--input-txt-color);
    transition: color 0.3s linear;
}

.vertical-separator {
    height: 48px;
    width: 2px;
    background-color: var(--based-color);
    transition: background-color 0.3s linear;
}

.builder-result {
    height: 100%;
    width: 100%;
    background-color: var(--builder-result-bg-color);
    transition: background-color 0.3s linear;
}

.builder-panel {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: auto;
    background-color: var(--builder-panel-bg-color);
    padding: 12px;
    visibility: visible;
    transition: right 0.3s linear, visibility 0.3s linear, background-color 0.3s linear;
}

.fa-pos-menu {
    font-size: 22px;
    color: var(--input-txt-color);
    opacity: 0.5;
    transition: color 0.3s linear, opacity 0.3s linear;
    cursor: pointer;
}

.fa-pos-clr {
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 22px;
    color: var(--input-txt-color);
    opacity: 0.5;
    transition: color 0.3s linear, opacity 0.3s linear;
    cursor: pointer;
}

.fa-pos-rand {
    position: absolute;
    top: 12px;
    left: 48px;
    font-size: 22px;
    color: var(--input-txt-color);
    opacity: 0.5;
    transition: color 0.3s linear, opacity 0.3s linear;
    cursor: pointer;
}

.fa-pos-theme {
    font-size: 22px;
    color: var(--input-txt-color);
    opacity: 0.5;
    transition: color 0.3s linear, opacity 0.3s linear;
    cursor: pointer;
}

.fa-pos-clr:hover,
.fa-pos-rand:hover,
.fa-pos-theme:hover,
.fa-pos-menu:hover {
    opacity: 1;
}

.select-size-type {
    height: 30px !important;
    width: 64px !important;
    margin: 0px 6px !important;
    padding: 0px 6px !important;
}

.select-text-type {
    height: 30px !important;
    width: 120px !important;
    padding: 0px 6px !important;
}

.text-input-size {
    height: 30px !important;
    width: 110px !important;
    padding: 0px 15px !important;
}

.number-input-size {
    height: 30px !important;
    width: 80px !important;
    padding: 0px 5px 0px 15px !important;
}

.bp-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 6px;
}

.bp-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bp-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 16px;
}

.bp-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.br-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.32);
    padding: 5px 0px 5px 5px;
}

.br-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 16px;
}

.br-canvas {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-pos-canvas-up,
.fa-pos-canvas-right,
.fa-pos-canvas-down,
.fa-pos-canvas-left {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--based-color);
    border-radius: 50%;
    color: var(--input-txt-color);
    cursor: pointer;
}

.fa-pos-canvas-up {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
}

.fa-pos-canvas-right {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translate(0%, -50%);
    z-index: 1;
}

.fa-pos-canvas-down {
    position: absolute;
    bottom: 96px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
}

.fa-pos-canvas-left {
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translate(0%, -50%);
    z-index: 1;
}

.block-builder {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: red;
}

.vertical-separator-head {
    height: 48px;
    width: 2px;
    background-color: black;
    transition: background-color 0.3s linear;
}